// $primary-color: #ffddc1;
$primary-color: #ffe3cd;
$secondary-color: #263f61;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
$link-color: #263f61;

// Spacing
$spacer: 1rem;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$font-size: 14px;

@font-face {
  font-family: "acaslonpro-regular";
  src: url("/assets/fonts/Adobe Caslon Pro/ACaslonPro-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "acaslonpro-semibold";
  src: url("/assets/fonts/Adobe Caslon Pro/ACaslonPro-Semibold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "acaslonpro-bold";
  src: url("/assets/fonts/Adobe Caslon Pro/ACaslonPro-Bold.otf");
  font-weight: 900;
}

@font-face {
  font-family: "infinity";
  src: url("/assets/fonts/Beyond Infinity.ttf");
  font-weight: 900;
}

@import "./utils/_containers.scss";
@import "./layouts/header.scss";
@import "./layouts/footer.scss";
@import "./layouts/content.scss";
@import "./pages/home.scss";
@import "./pages/others.scss";

html {
  margin: 0px !important;
  scroll-behavior: smooth;
}

body {
  font-family: "acaslonpro-regular";
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: $secondary-color;
  background-color: #f4f2f2;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

ul {
  margin: 0px;
  padding: 0px;
  li {
    list-style: none;
  }
}

.field_wrapper {
  margin: 20px 0px;
  .hint {
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 600;
  }

  .field {
    margin: 10px 0px !important;
  }

  .add_input {
    box-shadow: 0px 0px 2px #ddd;
    flex: 1;
    border-radius: 18px;
    outline: none;
  }

  .add_button {
    padding: 10px 19px;
    background: linear-gradient(to left, #f8b79a, #eeab6f);
    border-radius: 100px;
    font-weight: 700;
  }
}

span.error {
  font-size: 12px;
  color: #dc3545;
  margin-left: 15px;
  display: block;
}

.field {
  height: 45px;
  margin: 30px 0px;
  textarea,
  input,
  select {
    box-sizing: border-box;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 2px #ddd;
    padding: 10px 15px;
    border-radius: 18px;
    border-bottom-right-radius: 8px;
  }

  span.error {
    font-size: 12px;
    color: #dc3545;
    margin-left: 15px;
  }

  textarea {
    height: 100%;
  }

  &.multiple {
    height: 100%;
  }

  input {
    //   text-align: center;
    height: 100%;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.badge {
  font-size: 12px;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 10px;

  &.badge-secondary {
    background: #ffc107;
  }
}

.em__fancy__text {
  font-family: "infinity";
  color: #986a47;
  white-space: nowrap;
}

.em__body__wrapper {
  width: 90%;
  margin: auto;
}

.em__flex {
  display: flex;
  flex-wrap: wrap;
}

.em__align__center {
  align-items: center;
}

.em__justify__center {
  justify-content: center;
}
.em__justify__between {
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: $link-color;
}

.em__header {
  position: relative;
  display: inline-block;
  margin: 20px 0px;
  font-weight: 500;

  &.center {
    left: 50%;
    transform: translateX(-50%);
  }

  &.h-f {
    span {
      right: -100px;
      top: 44px;
    }
  }

  &.h-b {
    span {
      top: 54px;
    }
  }

  &.h-t {
    span {
      right: -192px;
      top: 44px;
    }
  }

  &.h-c {
    span {
      right: -90px;
      top: 44px;
    }
  }

  &.left,
  .right {
    margin: 0px 0px;
    margin-bottom: 40px;

    h1 {
      margin: 0px inherit;
    }

    span {
      color: #986a47;
      font-size: 92px;
      top: 39px;
      left: 62px;
    }
  }
  h1 {
    font-size: 42px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 35px 0px;
  }

  span {
    display: block;
    position: absolute;
    top: 41px;
    right: -149px;
    font-size: 63px;
  }
}

.em__header_2 {
  position: relative;
  display: inline-flex;
  align-items: baseline;
  margin: 20px 0px;
  font-weight: 500;

  h1 {
    font-size: 42px;
    text-transform: uppercase;
    color: $secondary-color;
    margin: 10px 0px;
    margin-right: 10px;
  }

  span {
    display: inline;
    margin-top: 8px;
    font-size: 63px;
  }
}

.em__spacer {
  height: var(--height);
  width: var(--width);
  display: block;
}

// Grids

.em__grid__4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.em__grid__3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.em__grid__2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

// Buttons

/* Standard button */
.em__button {
  background: linear-gradient(to bottom, #f8b79a, #eeab6f);
  border: none;
  color: #000;
  padding: 14px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 18px;
  border-bottom-left-radius: 8px;
  transition: background 6s ease;
  font-weight: 700;
  font-family: "acaslonpro-regular";
  text-transform: uppercase;
  position: relative;

  svg {
    margin-left: 4px;
  }

  .loading {
    position: absolute;
    right: 10px;
  }

  /* Button variations */
  &.primary {
    transition: background 6s ease;

    background: linear-gradient(to bottom, #f8b79a, #eeab6f);
  }

  &.secondary {
    background: #6c757d; /* Grey */
  }

  &.danger {
    background: #dc3545; /* Red */
  }

  /* Button hover effect */
  &:hover {
    background: linear-gradient(to left, #f8b79a, #eeab6f);
  }

  &.block {
    width: 100%;
    display: flex !important;
  }

  &:disabled {
    opacity: 0.7;
    background: linear-gradient(to left, #ffecdc, #ffbe67);
  }

  &.sm {
    padding: 4px 12px;
    border-radius: 9px;
    border-bottom-left-radius: 4px;
    text-transform: none;
  }
}

.swiper {
  width: 100% !important;
  // height: 300px;

  .swiper-slide {
    // min-width: 270px !important;
  }

  &.mySwiper {
    .swiper-slide {
      min-width: 50px !important;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  height: 56px !important;
  width: 56px !important;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 0px 2px #ddd;

  &:after {
    display: none;
  }
}

.ai-btn-prev,
.ai-btn-next {
  height: 36px !important;
  width: 36px !important;
  position: absolute;
  top: -10px !important;
}

.ai-btn-next {
  right: 0px !important;
  left: auto !important;
}

.ai-btn-prev {
  right: 50px !important;
  left: auto !important;
}

.swiper-t {
  width: 100%;

  .swiper-slide {
    // min-width: 350px !important;
  }
}

.bar {
  display: none;
}

// Tab

@media (max-width: 920px) {
}

// Mobile

@media (max-width: 640px) {
  .checkout__info {
    margin-right: 0px !important;
  }

  .bar {
    height: 40px;
    width: 40px;
    background: #213d61;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .em__grid__4,
  .em__grid__3,
  .em__grid__2 {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .em__header {
    margin: 20px 0px;
    font-weight: 500;

    &.center {
      left: 50%;
      transform: translateX(-50%);
    }

    &.h-f {
      span {
        right: -60px;
        top: 44px;
      }
    }

    &.h-b {
      span {
        top: 34px;
        font-size: 52px;
      }
    }

    &.h-t {
      span {
        right: -92px;
        top: 44px;
      }
    }

    &.h-c {
      span {
        right: -30px;
        top: 44px;
      }
    }

    &.left,
    .right {
      margin: 0px 0px;
      margin-bottom: 40px;

      h1 {
        margin: 0px inherit;
      }

      span {
        color: #986a47;
        font-size: 60px;
        top: 40px;
        right: -107px;

        &.ai {
          left: 0px;
        }
      }
    }
    h1 {
      font-size: 24px;
      text-transform: uppercase;
      color: $secondary-color;
      margin: 35px 0px;
    }

    span {
      display: block;
      position: absolute;
      top: 41px;
      right: -115px;
      font-size: 63px;
    }
  }

  .em__checkout_body {
    .checkout__total {
      margin-top: 36px;

      .title {
        h4 {
          font-size: 16px;
        }
      }
    }
  }
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

// .mySwiper2 {
//   height: 500px;
//   width: 100%;
// }

// .mySwiper {
//   height: 20%;
//   box-sizing: border-box;
//   padding: 10px 0;
// }

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  // width: 25% !important;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type="radio"] {
  height: 16px;
  width: 16px;
  accent-color: #000;
}

// Checkout

.em__checkout_body {
  background-color: #fff;
  padding: 50px 0px;

  .agree__info {
    background-color: #fff9f59c;
    padding: 10px;
    border-radius: 10px;
  }

  .checkout__info {
    flex: 1;
    margin-right: 50px;
  }

  .title {
    h4 {
      font-size: 20px;
      text-transform: uppercase;
    }
  }

  .checkout__total {
    width: 350px;

    .cart__total {
      border-radius: 5px;
      background-color: #fff9f5;
      padding: 23px 23px 23px 42px;
      height: fit-content;
      margin-top: 10px;

      .read__more {
        font-size: 16px;
        color: #eeab71;

        &:after {
          bottom: 5px;
          background: #eeab71;
        }
      }

      .em__flex {
        margin: 20px 0px;
        flex-wrap: nowrap;
      }

      .form-radio {
        label {
          margin: 0px 5px;
          text-transform: uppercase;
          font-size: 14px;
        }
      }

      h4 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        margin-right: 30px;
      }
    }
  }
}

.em__badge {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid $primary-color;
  color: #263f61;
  border-radius: 100px;
  margin: 0px 10px;
  white-space: nowrap;
  transition: 0.3s;
  cursor: pointer;

  &:hover,
  &.active {
    background-color: $primary-color;
  }
}

.cart__item {
  height: 170px;
  .em__flex {
    gap: 10px;
    flex-wrap: nowrap;

    h4 {
      font-size: 16px;
      font-weight: 700;
      max-width: 200px;
      text-transform: capitalize;
    }

    .details {
      display: flex;
      padding: 10px 0px;
      .d1 {
        min-width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > div {
          display: flex;
          gap: 10px;

          .price {
            span {
              margin: 6px;

              &.old {
                text-decoration: line-through;
              }
            }
          }
        }
        button {
          all: unset;
          cursor: pointer;
          display: inline-block;
          margin-right: 10px;

          &.del {
            font-weight: 700;
          }

          &.up {
            color: #986a47;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              height: 1px;
              width: 100%;
              background-color: #986a47;
              left: 0px;
              bottom: 0px;
            }
          }
        }
      }

      .d2 {
        display: flex;
        // align-items: center;
        input {
          box-sizing: border-box;
          width: 50px;
          border: none;
          outline: none;
          height: 47px;
          padding: 10px 15px;
          // border-radius: 18px;
          box-shadow: 0px 0px 2px #ddd;
        }

        button {
          all: unset;
          height: 47px;
          width: 43px;
          display: inline-flex;
          box-shadow: 0px 0px 2px #ddd;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          font-size: 24px;
          cursor: pointer;
        }

        .button1 {
          border-top-left-radius: 18px;
          border-bottom-left-radius: 18px;
        }

        .button2 {
          border-top-right-radius: 18px;
          border-bottom-right-radius: 8px;
        }
      }
    }
  }
}

// Swipers styles

.rental-swiper .swiper-slide {
  width: 330px !important;

  @media (max-width: 640px) {
    width: 235px !important;
  }
}

.member-side {
  min-width: 220px;
  ul {
    li {
      padding: 15px 10px;
      cursor: pointer;
      transition: 0.2s;

      &.active,
      &:hover {
        background: #f8f9fa;
      }
    }
  }
}

.member-side-mobile {
  background: #fff;
  z-index: 999;
  width: 80%;
  padding: 0px 0px;
  top: 50px;

  ul {
    li {
      padding: 15px 10px;
      transition: 0.2s;

      &.active,
      &:hover {
        background: #f8f9fa;
      }
    }
  }
}

.design-card {
  padding: 15px 10px;
  .display {
    aspect-ratio: calc(16 / 9);
  }

  .status {
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #26456f;
    display: inline-block;
    margin: 0px;
    color: #26456f;
    margin-top: 30px;
  }
}

.em__dee {
  padding: 50px 0px;
  .dee__s__con {
    width: 600px;
    max-width: 100%;
    margin: auto;
    .dee__s__card {
      transition: background 0.4s;
      border: 1px solid transparent;
      width: 350px !important;
      max-width: 90%;
      background: #fef7f1;
      border-radius: 10px;
      padding: 26px 32px;
      text-align: center;
      cursor: pointer;
      font-weight: 700;
      font-size: 18px;

      h4 {
        margin: 20px;
      }

      img {
        border-radius: 8px;
      }

      &:hover,
      &:active {
        border: 1px solid #986a47;
        background: $primary-color;
      }
    }
  }
}

.em__vpcard {
  border: 1px solid transparent;

  input {
    height: 18px;
    width: 18px;
    accent-color: $secondary-color;
  }

  &:hover,
  &.active {
    background: #ffe3cd;
    border: 1px solid #986a47;
  }
}

.h__dropdown {
  height: fit-content;
  li {
    a {
      text-transform: capitalize !important;
      transition: 0.4s;
      &:hover {
        margin-left: 10px;
      }
    }
  }
}

.backdrop__image {
  border: 4px solid transparent;
  cursor: pointer;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &:hover {
    border: 4px solid $primary-color;
  }
}

// Modal

.m__container {
  position: fixed;
  max-width: 100%;
  background: #fff;
  // inset: 0;
  translate: -50% -50%;
  left: 50%;
  top: 50%;
  padding: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  border-top: 1px solid #170728;
  border-radius: 20px;
  flex-direction: column;
  z-index: 999;

  &.large {
    width: 90%;
    height: 100vh;
  }
  &.medium,
  &.small {
    min-height: 300px;
    height: auto;
    max-width: 90%;
  }
  &.medium {
    width: 700px;
  }
  &.small {
    width: 460px;
  }
}

.m__overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 998;
}

.m__header {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.saf_form {
  height: calc(100vh - 100px);

  .form-con {
    padding: 5px 0px;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none !important;
    }
  }
}

#check-group {
  animation: 0.32s ease-in-out 1.03s check-group;
  transform-origin: center;
}

#check-group #check {
  animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
  stroke-dasharray: 0, 75px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#check-group #outline {
  animation: 0.38s ease-in outline;
  transform: rotate(0deg);
  transform-origin: center;
}

#check-group #white-circle {
  animation: 0.35s ease-in 0.35s forwards circle;
  transform: none;
  transform-origin: center;
}

@keyframes outline {
  from {
    stroke-dasharray: 0, 345.576px;
  }
  to {
    stroke-dasharray: 345.576px, 345.576px;
  }
}
@keyframes circle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes check {
  from {
    stroke-dasharray: 0, 75px;
  }
  to {
    stroke-dasharray: 75px, 75px;
  }
}
@keyframes check-group {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.09);
  }
  to {
    transform: scale(1);
  }
}

// Chat Page Designs

.chat__container {
  position: sticky;
  top: 50px;
  width: 900px;
  max-width: 100%;
  margin: auto;
  background: #fff;
  height: 500px;
  display: flex;

  .chats {
    width: 300px;
    height: 100%;
    overflow-y: auto;

    .active-chat {
      .rce-citem {
        background: #f9f9f9 !important;
      }
    }
  }

  .chats_messages {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;

    .body {
      flex: 1;
      overflow: auto;
    }

    .foot {
      textarea {
        border: 1px solid #eeab71;
      }
    }
  }
}

@media (max-width: 940px) {
  .chat__container {
    width: 100%;
    height: 400px;

    .chats {
      width: 100%;
      &.close {
        display: none;
      }
    }
    .chats_messages {
      display: none;
      padding: 0px;

      &.open {
        display: flex;
      }
    }
  }

  .hide-desk {
    display: flex !important;
  }
}

.hide-desk {
  display: none !important;
}
